# Logs
logs
*.log

# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Local environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
firestore-debug.*.log
ui-debug.log